.navbar-brand{
color:blue;
}

.Navbar{
  color:blue;
}

.card {
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.second{
  position: absolute;
  left: 80%;
  
  right: 8.33%;
  top: 12.5%;
  bottom: 12.5%;
  background: #00BDFF;
  color: white;
  }

.first{
position: absolute;
left: 80%;
right: 8.33%;
top: 12.5%;
bottom: 12.5%;
background: white;
color: #00BDFF;
}

.bold{
  font-weight: bolder;
}

.search{
  position: absolute;
  left: 70%;
  margin-bottom: 60px;
  vertical-align: middle;
}

.total{
  display: inline-block;
  width: 500 px;
  height: 160 px;
  margin: '1px auto';
  display: 'flex';
  /* flexDirection: column;
  justifyContent: 'space-evenly'; */
}